{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-alias",
      [
        {
          "src": "./src/components",
          "expose": "component"
        },
        {
          "src": "./src/HOC",
          "expose": "HOC"
        },
        {
          "src": "./src/util",
          "expose": "utils"
        }
      ]
    ]
  ]
}
// "env": {
//   "production": {
//     "plugins": [
//       "transform-remove-console"
//     ]
//   }
// }